.Button {
	--btn-bg: #fff;
	--btn-bg-disabled: #ccc;
	--btn-border-color: transparent;
	/* --btn-fg: #000; */
	--btn-fg-disabled: #eee;
	--btn-hover: var(--gray-100);
	--btn-hover-fg: gray;
	--animation-duration: 100ms;

	width: 100%;
	background-color: var(--btn-bg);
	padding: 8px 32px;
	font-size: 14px;
	border: none;
	border: 2px solid var(--btn-border-color);
	border-radius: 4px;
	color: var(--btn-fg, inherit);
	font-weight: bold;
	text-transform: uppercase;
	outline: none;
	transition: color var(--animation-duration),
		background-color var(--animation-duration);
	cursor: pointer;
}

.Button:hover:not(.active):not(:disabled) {
	background-color: var(--btn-hover);
	color: var(--btn-hover-fg);
	border: 2px solid var(--gray-100);
}

.Button:disabled {
	background-color: var(--btn-bg-disabled);
	color: var(--btn-fg-disabled);
	cursor: default;
}
